<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/56ba7836c2.js"></script>
<style type="text/css">
    span{color: #fff;    font-size: 20px;
    padding: 5px;
    display: inline-block;
}
    span:hover{color: #efecec; text-decoration: none;}
    .btn{border-radius: 0px;}

</style>
<body style="background-color: #5E57E7">
    <center><h1 style="color: white; font-size: 5em;padding: 4%">Gutenberg Project</h1></center>
    <div class="container">
       <div class="row">
           <div class="col-md-6" style="margin: 0 auto;">
            <a href="/showbooks?genre=mystery">
                <button type="button" class="btn col-sm-12" name ="mystery" style="margin: 1%;border: 0px; background-color: #4E4BCB; color: white;" ><span  style="float: left;font-size: 1.5em">MYSTERY</span>
                <img src='/ic_right_arrow.png' style="float: right"></img> </button>
            </a>
                <br>
                <a  href="/showbooks?genre=fantasy">
                <button type="button" class="btn col-sm-12" name ="fantasy" style="margin: 1%;border: 0px;  background-color: #4E4BCB; color: white;" ><span style="float: left; font-size: 1.5em">FANTASY</span>
                     <img src='/ic_right_arrow.png' style="float: right"></img> 
                </button>
            </a>
                <br>
                <a href="/showbooks?genre=fiction">
                <button type="button" class="btn col-sm-12" name ="fiction" style="margin: 1%;border: 0px;  background-color: #4E4BCB; color: white; " ><span  style="float: left;font-size: 1.5em">FICTION</span><img src='/ic_right_arrow.png' style="float: right"></img> </button>
            </a>
                <br>
                <a href="/showbooks?genre=children">
                <button type="button" class="btn col-sm-12" name ="children" style="margin: 1%;border: 0px; background-color: #4E4BCB; color: white; " ><span  style="float: left;font-size: 1.5em">CHILDREN</span><img src='/ic_right_arrow.png' style="float: right"></img> </button>
            </a>
                <br>
                <a href="/showbooks?genre=history">
                <button type="button" class="btn col-sm-12" name ="history" style="border: 0px;margin: 1%; background-color: #4E4BCB; color: white; " ><span style="float: left;font-size: 1.5em">HISTORY</span><img src='/ic_right_arrow.png' style="float: right"></img> </button>
            </a>
                <br>
                <a href=/showbooks?genre=drama">
                <button type="button" class="btn col-sm-12" name ="drama" style="border: 0px; margin: 1%;  background-color: #4E4BCB; color: white; p" ><span  style="float: left;font-size: 1.5em">DRAMA</span>
                    <img src='/ic_right_arrow.png' style="float: right"></img> 
                </button>
            </a>
                <br>
                <a href="/showbooks?genre=humor">
                <button type="button" class="btn col-sm-12" name ="humor" style="border: 0px;margin: 1%; background-color: #4E4BCB; color: white; " ><span  style="float: left;font-size: 1.5em">HUMOR</span><img src='/ic_right_arrow.png' style="float: right"></img> </button>
            </a>
                <br>
                <a href="/showbooks?genre=politics">
                <button type="button" class="btn col-sm-12" name ="politics" style="border: 0px;margin: 1%; background-color: #4E4BCB; color: white; " ><span  style="float: left;font-size: 1.5em">POLITICS</span><img src='/ic_right_arrow.png' style="float: right"></img> </button>
            </a>
           </div>
       </div>
    </div>
   
</body>
